global
  quiet
  stats socket /var/run/haproxy.sock level admin
  user haproxy
  group haproxy

defaults
  maxconn 20000
  log   global
  mode  http
  option  httplog
  option  dontlognull
  retries  3
  option  redispatch
  option  http-server-close
  timeout connect 5s
  timeout client  10s
  timeout server  10s

frontend public
  bind *:80
  default_backend apps

backend apps
<% if(nodes.length > 0) { %>
    balance leastconn
    cookie LB_NODE insert nocache
  <% nodes.forEach(function(node, index) { -%>
    server node<%= index %> <%= node %> cookie node<%= index %>
  <% }); %>
<% } %>
